.brand{
  color: #ffffff;
  font-size: 2rem;
  font-weight: bold;
  text-decoration: none;
}

.brand:hover {
  color: #ff8000;
}

.bigfont{
  color:black;
  font-size: 10rem;
  margin: "0 5% 0 5%";
  font-weight: bold;
  flex-wrap: wrap;
}

.bigfont:hover{
  color:#ff8000;
}

.footer{
  grid-area: footer;
  background-color: #203040;
  color: #ffffff;
  display: flex;
  height: 3rem;
  justify-content: center;
  align-items: center;
}

.card-image{
  width: 4rem;
  height: 4rem;
  object-fit: cover;
  object-position: center center;
}

.logo-image{
  padding: 2rem;
  width: 10rem;
  height: 10rem;
  object-fit: cover;
  object-position: center;
  margin: 2.5rem;
}
